* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    width: 100vw;
    height: 20vh;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    margin-bottom: 20px;
}

.page {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 50px; /* Adjust the gap for better spacing */
    justify-items: center;
    align-items: center;
}

.page a {
    color: black;
    font-size: 30px;
    text-decoration: none;
    border: 1px solid black;
    height: 250px;
    width: 180px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
    transition: background 0.3s ease, transform 0.2s;


}

.page a:hover {
    background-color: lightgray;
    transform: scale(1.05);
}
form{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    height: 8vh;
    width: 30vw;
    border-radius: 18px;
}

button{
    width: 30vw;
    height: 8vh;
    border-radius: 18px;
    font-size: 30px;
    margin-left: 240px;
    margin-top: 50px;


}
